
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList= locOptions.Value.SupportedUICultures.Select(x =>new SelectListItem{Value=x.Name,Text=x.DisplayName }).ToList();
    
}
<div class="styled-select">
   
    <form  asp-action="Login" asp-controller="Home" method="post">
         


        <select name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
        ></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Submit">

    </form>
</div>

